---
import { Button, Footer } from '@odyssey-theme/components';
import Layout from './Base.astro';
import Header from '../components/header/Header.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';
import settings from '../config/settings';
import { footerLists, footerSocials } from '../config/footer';

export interface Props {
	seo?: BaseHeadProps;
}

import { nav } from '../config/nav.js';

const { seo } = Astro.props as Props;
---

<Layout {seo}>
	<Header rightMenu navData={nav} slot="header">
		<span slot="logo">
			<Logo />
		</span>
		<Button slot="action-item" href="/blog">To Blog</Button>
	</Header>
	<div id="page">
		<slot />
	</div>
	<div id="footer">
		<Footer
			slot="footer"
			background="var(--theme-surface-1)"
			color="var(--theme-on-surface-1)"
			{footerLists}
			{footerSocials}
			copyrightName={settings.name}
		>
			<Logo slot="logo" />
		</Footer>
	</div>
</Layout>

<style is:global>
	#content {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	#header,
	#footer {
		flex: 0 0 auto;
	}
	#page {
		flex: 1 1 auto;
	}
	#footer footer .content__container .footer-copyright__container {
		display: none !important;
		opacity: 0 !important;
	}
	.blog-posts-list__list img {
		width: 100%;
		height: 300px;
		object-fit: cover;
	}
	#footer footer {
		min-height: 25vh;
	}
	#page ul li,
	pre {
		width: 100%;
		overflow: auto;
	}
	html::-webkit-scrollbar {
		width: 8px;
	}
	html::-webkit-scrollbar-thumb {
		background: var(--theme-primary);
		border-radius: 4px;
	}
	html::-webkit-scrollbar-track {
		background: var(--theme-on-primary);
	}
</style>
